html,
body {
	background-color: #302038;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #ff7cf6;
	font-family: 'Jacquarda Bastarda 9', serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4rem;
}

.main {
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	padding: 2rem;
}

a {
	color: aqua;
	text-decoration: none;
	display: block;
	padding: 1rem;
	text-align: center;
	font-size: 2rem;
	border: 1px solid #ff7cf6;
	border-radius: 10px;
}

.boton {
	margin-block: 2rem;
}

a:hover {
	/* transform: scale(1.1); */
	box-shadow: 0px 5px 20px aqua;
	border: 1px solid aqua;
}
